<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/icon/favicon-16x16.png">
    <link rel="manifest" href="../public/icon/site.webmanifest">
    <title>Character and Word Counter</title>
    <link rel="stylesheet" href="../public/css/characterAndWordCounter.css">
</head>

<body>
    <div class="container">
        <h1>Character and Word Counter</h1>

        <div class="field">
            <textarea placeholder="type here..." name="input" id="input" rows="5"></textarea>
        </div>

        <div class="counter">0 character(s)</div>

        <button id="toggle">count words</button>

        <a href="main/projects.html"> <img style="position: fixed; top: 10px; left: 10px;"
                src="../public/icon/backToProjects-32x32.png" alt="Back to projects" title="Back to projects"></a>
    </div>

    <script src="../public/js/characterAndWordCounter.js"></script>
</body>

</html>