<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/icon/favicon-16x16.png">
    <link rel="manifest" href="../public/icon/site.webmanifest">
    <title>Digital Watch</title>
    <link rel="stylesheet" href="../public/css/digitalWatch.css">
</head>

<body>
    <div class="clock">
        <div>
            <span id="hours">00</span>
            <span class="time">Hours</span>
        </div>

        <div>
            <span id="minutes">00</span>
            <span class="time">Minutes</span>
        </div>

        <div>
            <span id="seconds">00</span>
            <span class="time">Seconds</span>
        </div>
    </div>

    <a href="main/projects.html"> <img style="position: fixed; top: 10px; left: 10px;"
            src="../public/icon/backToProjects-32x32.png" alt="Back to projects" title="Back to projects"></a>
    <script src="../public/js/digitalWatch.js"></script>
</body>

</html>