<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/icon/favicon-16x16.png">
    <link rel="manifest" href="../public/icon/site.webmanifest">
    <title>Typing Speed Test</title>
    <link rel="stylesheet" href="../public/css/typingSpeedTest.css">
    <script src="../public/js/typingSpeedTest.js" defer></script>
</head>

<body class="light">
    <h1>Typing speed test</h1>
    <p class="instructions">
        To start the test, click on the text box below and start typing the displayed text. The timer will start
        automatically as soon as you start typing. When you enter the text correctly, the time taken will be displayed.
    </p>

    <div id="quote"></div>

    <textarea id="input" rows="5" placeholder="Type here..."></textarea>

    <div id="result"></div>

    <button id="reset">Reset</button>

    <div id="history"></div>

    <button id="changeTheme">Change theme</button>

    <a href="main/projects.html"> <img style="position: fixed; top: 10px; left: 10px;"
            src="../public/icon/backToProjects-32x32.png" alt="Back to projects" title="Back to projects"></a>
</body>

</html>